/logs/logback.2023-04-20.0.log.gz
/logs/logback.2023-04-21.0.log.gz
/logs/logback.log
/src/main/resources/application.properties
/src/main/resources/logback.xml
/logs/logback.2023-04-25.0.log.gz
/target/classes/application.properties
/target/classes/logback.xml
/target/classes/log4jdbc.log4j2.properties
/logs/logback.2023-04-26.0.log.gz
/logs/logback.2023-04-27.0.log.gz
src/main/resources/log4jdbc.log4j2.properties